/SOLUCION/Proyecto/nbproject/private/
/SOLUCION/Proyecto/build/
/SOLUCION/fundamentos_computacionales/nbproject/private/
/SOLUCION/fundamentos_computacionales/build/
/SOLUCION/build/
/SOLUCION/nbproject/private/
